.wrapper{

    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-gap: 2%;
    margin: 20px;
    margin-bottom: 300px;
    justify-content: center;
    grid-auto-rows:680px;
    
      
}

.oo{
    background-color: rgb(204, 204, 204);
}


@media screen and  (max-width:1100px) {
    .wrapper{
        grid-template-columns: 50% 50%;
    }
   
}


@media screen and  (max-width:670px) {
    .wrapper{
        grid-template-columns: 100%;
              
    }
   
}


.header{
    
    height: 80px;
    padding-top: 0;
    padding-left: 30px;   
    font-size: 25px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    word-spacing: 20px;
    letter-spacing: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    justify-content:center;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: #4dc0a7;
    top: 0;
    left: 0;
  
}

.header h1{
    margin: 10px 0px;
}

.footer{
    text-align: center;
    
}

.sel{
    
    margin-left: 100px;
    margin-top: 120px;
    width: 150px;
    border: 0;
    height: 35px;
    border-radius:7px;
    font-size: 17px;
    padding-left: 8px;
}

.sel:focus{
    outline: 0;
}




