.container {
  /* background-image: linear-gradient(
    to right,
    #8860d0,
    #84ceeb,
    #5680e9,
    #8860d0
  ); */
  /* border-radius: 10px; */
  background-color: #eaeaea;
  padding: 10px 20px;
}

.p {
  font-family: "Roboto Slab", serif;
  /* width: 75%; */
  font-size: 20px;
}
.h1 {
  /* font-family: "FrutigerCE55RomanRegular"; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: orangered;
}
.ngdiv ul {
  list-style: square !important;
  font-size: 20px !important;
  font-family: "Roboto Slab", serif !important;
}
.ngdiv li {
  /* width: 55%; */
  height: 90px !important;
}
head {
  background-color: white;
  color: black;
}
#content {
  margin-left: 15%;
  margin-right: 15%;
  padding: 5% 5%;
  background-color: white;
}

.i {
  margin-left: 50%;
}
.html {
  background-color: #f2f2f2;
}
.bli {
  height: 120px;
}
.otherblogs a {
  display: inline-block;
  width: 23%;
  text-align: center;
  padding: 5% 5%;
  padding-bottom: 0;
  color: blue;
}
.otherblogs a:visited {
  text-decoration: none;
  color: blue;
}
.otherblogs a:hover {
  background-color: rgb(163, 163, 163);
}
.other {
  font-size: 15px;
}
.otherblogs {
  position: relative;
  border-top: 5px solid red;
  padding-top: 10px;
}
.el {
  position: absolute;
  left: 17.5%;
}
#related {
  color: orangered;
}


  #blog{
    color:#5680E9 ;
  }

  #service,#contact,#customer,#home{
    color: black; 
  }
  *{
    font-family: sans-serif;
  }

